html, body, #grid {
    height: 100%;
    width: 100%;
}

.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.griddy{
    border-style: dashed;
    border-color: black;
}

.hovered{
    background-color: black;
}