body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.gridContainer{
    background-color: white;
    height: 900px;
    width: 900px;
    display: flex;
    margin-top: 30px;
    flex-flow: row wrap;
}

.gridSquare{

    min-width: 45px;
    min-height: 45px;
    flex: auto;


}
.gridSquareBlack{
    background-color: black;
}
.resetButton{
    width: 120px;
    height: 30px;
}